<div class="card">
  <div class="card-body" >
  <h5 class="card-title">info</h5>
  <ul class="list-group" *ngIf="palindrome.value">
    <span>value</span>
    <li class="list-group-item">{{palindrome.value}}</li>
    <span>min</span>
    <li class="list-group-item">{{palindrome.min}}</li>
    <span>max</span>
    <li class="list-group-item">{{palindrome.max}}</li>
  </ul>
    <ul class="list-group" *ngIf="!palindrome.value">
      <li class="list-group-item">select an item from the lis</li>
    </ul>
  </div>

</div>
